//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 16 18:15:04 2015
//! **************************************************************************

SCHEMATIC START;
COMP "vsync" LOCATE = SITE "B12" LEVEL 1;
COMP "up" LOCATE = SITE "V17" LEVEL 1;
COMP "joy<0>" LOCATE = SITE "V11" LEVEL 1;
COMP "joy<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "joy<2>" LOCATE = SITE "T15" LEVEL 1;
COMP "joy<3>" LOCATE = SITE "U14" LEVEL 1;
COMP "joy<4>" LOCATE = SITE "T16" LEVEL 1;
COMP "joy<5>" LOCATE = SITE "V15" LEVEL 1;
COMP "joy<6>" LOCATE = SITE "V14" LEVEL 1;
COMP "joy<7>" LOCATE = SITE "V12" LEVEL 1;
COMP "hero<3>" LOCATE = SITE "R15" LEVEL 1;
COMP "hero<4>" LOCATE = SITE "R17" LEVEL 1;
COMP "hero<1>" LOCATE = SITE "L16" LEVEL 1;
COMP "hero<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "hero<0>" LOCATE = SITE "J15" LEVEL 1;
COMP "hero<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "_1DN" LOCATE = SITE "J4" LEVEL 1;
COMP "_1S1" LOCATE = SITE "E7" LEVEL 1;
COMP "_1S2" LOCATE = SITE "J2" LEVEL 1;
COMP "_1S3" LOCATE = SITE "G6" LEVEL 1;
COMP "_1LFT" LOCATE = SITE "E6" LEVEL 1;
COMP "_1UP" LOCATE = SITE "J3" LEVEL 1;
COMP "_1RGT" LOCATE = SITE "K1" LEVEL 1;
COMP "hsync" LOCATE = SITE "B11" LEVEL 1;
COMP "_START1" LOCATE = SITE "K2" LEVEL 1;
COMP "rgb<11>" LOCATE = SITE "D8" LEVEL 1;
COMP "rgb<10>" LOCATE = SITE "D7" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "C6" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "A5" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "B6" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "A6" LEVEL 1;
COMP "rgb<8>" LOCATE = SITE "B7" LEVEL 1;
COMP "rgb<9>" LOCATE = SITE "C7" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "R18" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "cc/temp" BEL "v1/clk0/cnt" BEL "v1/clk0/clk_pixel"
        BEL "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

